.menu {
    position: absolute;
    z-index: 1000;
    padding: 24px 0;
}
.menu.slider_menu{
    padding: 9px 15px;  
}
.toggleMenu {
    display:  none;
    padding: 15px;
}
.nav li a{
    font-size: 13px;
}
.nav li a:hover{
    background-color: #fff;
}
.nav li{
    list-style: none;
     *zoom: 1;
    background-color: rgba(0,0,0,0.9);
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    color:#fff;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
}
.nav > li > .parent {
    background-image: url(../../img/menu/downArrow.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
    display: block;
    background-color: rgba(0,0,0,0.7);
    position: relative;
    z-index:100;
    padding-left: 20px;
}
.nav li li a:hover{
    color: #fff;
    background-color: rgba(0,0,0,0.6);
}
.nav li li li a {
    background-color: rgba(0,0,0,0.7);
    z-index:200;
    padding-left: 30px;
}

@media screen and (max-width: 1920px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 90% 50%;
        width: 150px;
    }
    .nav li li .parent {
        background-image: url(../../img/menu/downArrow.png);
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
}